body{
    background-color: #000;
    overflow-y: hidden;
    overflow-x: hidden;

}

.square{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /*this didn't work*/

}

.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        rgba(107, 114, 255, 0) 50%,
        rgba(32, 52, 180, 0.35)
    );
    box-shadow:
        0 0 55px rgb(11, 37, 202),
        inset 0 0 45px rgb(20, 32, 120);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate1 6s linear infinite;
}
.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        rgba(107, 114, 255, 0) 50%,
        rgba(55, 95, 255, 0.32)
    );
    box-shadow:
        0 0 60px rgb(20, 65, 244),
        inset 0 0 50px rgb(11, 44, 188);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 9s linear infinite;
}
.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        rgba(107, 114, 255, 0) 50%,
        rgba(95, 70, 255, 0.28)
    );
    box-shadow:
        0 0 65px rgb(64, 34, 255),
        inset 0 0 50px rgb(49, 30, 194);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate3 19s linear infinite;
}
.square span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        rgba(107, 114, 255, 0) 50%,
        rgba(140, 120, 255, 0.24)
    );
    box-shadow:
        0 0 55px rgb(104, 78, 252),
        inset 0 0 45px rgb(78, 60, 216);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate4 12s linear infinite;
}

@keyframes animate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate4{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.text{
    display: inline-block;
    font-family: "Exo2";
    font-size: 25px;
}

#TextInput{
    background-color: #181818a6;
    border-color: rgba(65, 65, 231, 0.859); /*edit colors*/
    box-shadow: 0 0 30px rgba(43, 27, 223, 0.83), inset 0 0 0px rgb(66, 50, 215);
    border-radius: 15px;
    color: whitesmoke; 
    padding: 6px 20px;
    margin: 0px 20%;
    /*gpt fix*/
    display: flex;
    align-items: center;

}

.input-field {
    background-color: transparent ;
    border: none;
    height: 32px;
    width: 95%;
    outline: none;
    color: whitesmoke;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    font-size:large;

}

.glow-on-hover{
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    padding: 0px;
    margin-left: 15px;
}

.glow-on-hover:before{
    content:  '';
    background: linear-gradient(60deg, #ff0000, #ff7300, #ffe600, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active{
    color: #181818a8
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    right: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
    
}


/*to set icons in center of animation borders*/
.glow-on-hover{
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #111;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;
    border-radius: 10px;

    margin-left: 15px;
}

.glow-on-hover i{
    font-size: 18px;
    line-height: 1;
}


#siri-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 20px;
}

.siri-message{
    font-size: 25px;
    font-family: 'Rajdhani';
    font-style: italic;
    margin-left: 45px;
}

/*Chat Box*/
.chat-canvas{
    background-color: #191919;
}
.receiver_message{
    padding: 8px;
    border: 2px solid rgb(0, 128, 255);
    border-radius: 0px 15px 15px 20px;
    width: auto;
    color: white;
    background-color: #0dcaf014;
    font-family: "Exo2";
    font-size: medium;
}

.sender_message{
    padding: 8px;
    border: 1px solid #120c1b;
    border-radius: 15px 15px 0px 20px;
    width: auto;
    color: white;
    background-color: #1d1434;
    font-family: 'Exo2';
    font-size: medium;
    font-style: bold;
}
.width-size{
    max-width: 80%;
    width: auto;
}